// some vars
@color-bar-hover: rgba(25, 42, 86, 0.8);
@color-bar:#F3795C; //rgb(105, 255, 218);

// mixins 
.texts-landing {
    color: rgba(255, 255, 255, .9) !important;
    text-shadow: 1px 0 3px rgba(0,0,0,.8);
}


body {
    background-color: #ECEEFC;
    min-height: 100vh;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    .ui.menu {
        .item {
            &.header {
                align-items: baseline;
                flex-direction: column;
                text-transform: uppercase;                
                span.subheader {                    
                    font-size: .8rem;
                    margin-top: 6px;
                }
            }
        }
    }


    .home-view-container {
        margin-top: 57px;
        padding-top: 4em;   
        padding-bottom: 4em;         
        background: linear-gradient(rgba(25,42,86,1),rgba(242,242,247,0.8)),url(./images/home-bg.jpg) center center no-repeat fixed;
        background-size: auto;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        width: 80vw;
        margin: auto;
        text-align: center;
        .claim {
            margin: 1em;
            font-size: 3rem;            
            .texts-landing();
        }

        .statistic-home {                
            .value, .label {
                .texts-landing();
            }
        }

        .search p {
            .texts-landing();
            font-size: 1.3rem;
            color: rgba(0, 0, 0, 0.9) !important;
            text-shadow: 1px 0 3px rgba(255, 255, 255, 0.8);
        }
    }  

    .main-container {
        margin-top: 57px;
        margin-bottom: 3rem;
        min-height: 65vh;           
    }    
}


.container-tab-results {
    .ui.menu {
        justify-content: center;
    }
}

.TenderDimensionBars:last-child {
    max-height: 30vh;
    overflow-y: auto;
}

.TenderDimensionBar {
    cursor: pointer;
    text {
        font-size: 0.9rem;
        &.key {
            fill: #111;
        }
        &.value  {
            fill: #444;
            text-anchor: end;
        }
    }
    line {
        stroke: rgba(25, 42, 86, .25);
        stroke-width: 1;
    }
    &:hover {
        opacity: 0.7;
    }
    svg {
        text.selected {
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
        }
    }
  }



// semantic ui, to be overriden in the theme
.ui.card .meta.price, 
.ui.cards >.card .meta.price {
    font-size: 1em;
    color: #21ba45 !important;
}


pre {
    font-size: 0.9em;
    max-height: 50vh;
}

.ui.divider {
    border-top-color: #91AAB4 !important;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
    font-weight: 200;
}