body {
    background-color: #ECEEFC;
    min-height: 100vh;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    .ui.menu {
        .item {
            &.header {
                align-items: baseline;
                flex-direction: column;
                text-transform: uppercase;                
                span.subheader {                    
                    font-size: .8rem;
                    margin-top: 6px;
                }
            }
        }
    }
    .main-container {
        margin-top: 7em;
        .home-view-container {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-start;
    
            height: 80vh;        
            width: 70vw;
            margin: auto;
            .home-view-figures {
                margin-bottom: 7em;
            }

            header {
                text-align: center;
                .claim {
                    font-size: 3rem;            
                }
            }
        }        
    }    
}




.TenderDimensionFilter {
    display: flex;
    flex-direction: row;
}

.TenderDimensionBar {
    cursor: pointer;
    text.value  {
        text-anchor: end;
    }
    line {
        stroke: #666;
        stroke-width: 1;
    }
    &:hover {
        opacity: 0.7;
    }
    svg {
        rect.selected {
            stroke: black;
            stroke-width: 3px;
        }
    }
  }